span.Slider {
  border-width : thin;
  border-style : solid;
  border-color: black;
  width : 300px;
  height: 25px;
  display:inline-block;
  position: relative;}

span.Slider button {
  height: 25px;
  position: relative;}

div.LabeledSlider {
  margin: 1em}

span.SliderLabel {
  display:inline-block;
  border: 1px;
  border-color: black;
  border-style: solid;
  width: 175px}

body
{
  background : #999999;
  color : black;
}
